header{
  display: flex;
  flex-direction: column;
}

#movieCatalogue{
display: flex;
flex-wrap: wrap;
}
.singleMovie{
  width: 100%;
}
#selectMovies{
  display: none;
}
#searchBar{
  display: none;
}
#more {display: none;}

#dots{
  display :"inline"
}
body{
  background-color: rgb(151, 151, 151);
}
.color{
  color: rgb(82, 80, 80);
}



@media screen and (min-width: 400px){
  
header{
  flex-direction: row;
}

  .singleMovie{
  width: 22%;
  padding: 1%;

}
  
  
}