header{
  display: flex;
  flex-direction: column;
}

#movieCatalogue{
display: flex;
flex-wrap: wrap;
}
.singleMovie{
  width: 100%;
}


@media screen and (min-width: 400px){
  
header{
  flex-direction: row;
}

  .singleMovie{
  width: 23%;
  padding: 1%;

}
  
  
}